<nav class="navbar navbar-expand-sm navbar-dark d-flex" style="background-color:#0080ff">
  <!-- Brand/logo -->
  <a class="navbar-brand mr-auto" href="#">Encurtador de URL</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" (click)="logout()"><mat-icon>logout</mat-icon>Logout</a>
    </li>
  </ul>
</nav>

<div class="bg-light">
  <div class="btn-group d-flex ">
    <button type="button"  class="btn flex-fill text-white" style="background-color: #9dc7f1"  routerLink="/consultar_url" *ngIf="showMenu()">Consultar Url</button>
    <button type="button" class="btn flex-fill text-white" style="background-color: #9dc7f1" routerLink="/cadastrar_url" *ngIf="showMenu()">Cadastrar Url</button>
  </div>
</div>


