<nav class="navbar navbar-expand-md navbar-dark" style="background-image: linear-gradient(to right, #9dc7f1, #345b8c);">
  <!-- Brand/logo -->
  <a class="navbar-brand">Encurtador de URL</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <!-- Links -->
    <ul class="navbar-nav w-100">
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/consultar_url" *ngIf="showMenu()">Consultar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/cadastrar_url" *ngIf="showMenu()">Cadastrar</a>
      </li>
      <li class="nav-item ml-md-auto">
        <a class="nav-link text-light" (click)="logout()" style="cursor:pointer"><mat-icon>logout</mat-icon>Logout</a>
      </li>
    </ul>
  </div>
</nav>
