<app-header></app-header>
<div class="bg-light">
  <div class="btn-group d-flex">
    <button type="button" class="btn btn-primary flex-fill" routerLink="/consultar_url">Consultar Url</button>
    <button type="button" class="btn btn-primary flex-fill" routerLink="/cadastrar_url">Cadastrar Url</button>
  </div>
</div>
<br /><br />
<div class="container d-flex flex-column" style="background-color: #6272a4;">
  <h2 class="mx-auto">Deletar URL</h2>
  <form action="/urls.php" method="post">
    <div class="d-flex flex-column justify-content-center">
      <label for="completeUrl">Complete Url:</label>
      <input type="text" class="form-control" placeholder="Digite a url completa" name="completeUrl" style="width:700px" required><br />
      <button type="submit" class="btn btn-primary mx-auto">Cadastrar URL</button><br />
    </div>
  </form>
</div>


<br />
<div class="container" style="background-color: #6272a4;">
  <div class="form-group">
    <label for="shortenedUrl">URL gerada:</label>
    <input type="text" class="form-control" placeholder="Url encurtada" name="shortenedUrl">
    <br />
  </div>
</div>
