<app-header></app-header>
<br />
<br />
<div class="container d-flex flex-column" style="background-color: #6272a4;">
  <h2 class="mx-auto">Cadastro URL</h2>
  <form (ngSubmit)="cadastrarUrl(form)" #form="ngForm">
    <div class="d-flex flex-column justify-content-center ">
      <label for="completeUrl">Complete Url:</label>
      <input type="text" class="form-control" ngModel placeholder="Digite a url completa" name="completeUrl" style="width:700px" [(ngModel)]="url.completeUrl" (click)="hideAlert()" required><br />
        <button type="submit" class="btn btn-primary mx-auto">Cadastrar URL</button>   
    </div>
  </form>
</div>

<br />
<div class="container" *ngIf="isSuccessfull">
  <br />
  <div class="alert alert-success">
    <strong>Url cadastrada com successo!</strong>
  </div>
</div>
<br />
<div class="container" *ngIf="isFailed">
  <div class="alert alert-danger">
    <strong>Falha ao tentar cadastrar url!Digite uma url válida!</strong>
  </div>
</div>

